body{background-color: whitesmoke;}

.container{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit,minmax(101px,2fr));
    grid-auto-rows: 101px;
    grid-auto-flow: row dense ;
}
.v{
    grid-row: span 2;
}
.h{
    grid-column: span 2;
}
.b{
    grid-row: span2 ;
    grid-column: span 2;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}