input{
    margin: 0.5em;
}
.input{
    border : 1px solid #aaa;
    outline : none;
    font-size:inherit;
    padding: .5em;
    border-radius: .25em;
}
.input:focus{
    border-color: #0087e4;
    box-shadow: 0 0 5px 0 #0087e4;
}
.input-success{
    border: 1px solid #27AE60;
}
.input-success:focus{
    border: 1px solid #1da355;
    box-shadow: 0 0 5px #1da355;
}
.input-error{
    border: 1px solid #C0392B;
}
.input-error:focus{
    border: 1px solid #E74C3C;
    box-shadow: 0 0 5px #E74C3C;
}
.input-large{
    font-size: 1.25em;
}
.input-small{
    font-size: .75em;
}
.input:disabled{
    background-color: #eaeaee;
}